{% extends 'base.html'%}
{% block container %}
<div class="row m-5">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>Free Point of Sales</h2>
            <button class="btn btn-primary">Start Free</button>
        </div>
    </div>
</div>
<div class="row m-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary">Buy This</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary">Buy This</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary">Buy This</button>
            </div>
        </div>
    </div>


</div>


{% endblock container %}